@model SENAI.FalaAiCidadao.Modelos.Models.Postagem
@{
    ViewBag.Title = "DetailsPolitico";
    Layout = "~/Views/Shared/_LayoutPolitico.cshtml";
}

<br />
<div class="card">
    <div class="card-header" style="background-color:#118fe2; color:white">
        <h3 class="text-center">@Model.TituloPost</h3>
    </div>
    
    <div class="card-body" style="background-color:#cecdcd;">
        <div class="row">
            @foreach (var imagem in Model.Imagens)
            {
                <div class="col-lg-4">
                    <img src="~/Imagens/Postagem/@imagem.NomeImagem" class="img-thumbnail" style="width:500px; height:400px" />
                </div>
            }
        </div>
        <br />
        <div class="card-header" style="background-color:#a0d2ea;">
            <div class="row">
                <h3 class="col-4" style="font-size:20px">@string.Format(Model.Eleitor.Nome + " " + Model.Eleitor.Sobrenome)</h3>
                <h3 class="col-4" style="font-size:20px">Data: @Model.Data.ToShortDateString()</h3>
                <h3 class="col-4" style="font-size:20px">Região: @Model.Regiao.Nome</h3>
            </div>
        </div>
        <div class="card-body" style="background-color:#e5e4e4;">
            <div class="text-justify">
                <p style="font-size:20px">@Model.TextoPost</p>
            </div>
        </div>
        <br />
        @if (Model.Comentaios.Count > 0)
        {
            <div class="card-header" style="background-color:#a0d2ea;">
                <div class="row">
                    <h3 class="col-4" style="font-size:20px">Comentado por: @Model.Comentaios.FirstOrDefault().Politico.Nome</h3>
                    <h3 class="col-4" style="font-size:20px">Partido: @Model.Comentaios.FirstOrDefault().Politico.Partido</h3>
                    <h3 class="col-4" style="font-size:20px">Data: @Model.Comentaios.FirstOrDefault().Data.ToShortDateString()</h3>
                </div>
            </div>
            <div class="card-body" style="background-color:#e5e4e4;">
                <p style="font-size:20px">@Model.Comentaios.FirstOrDefault().TextoComentario</p>
            </div>
            <br />
            if (@Model.Comentaios.FirstOrDefault().NumeroAvaliacao > 0)
            {
                <center><div style="color:blue; font-size:20px">Avaliado com nota @Model.Comentaios.FirstOrDefault().NumeroAvaliacao</div></center>
            }
            else
            {
                <center><div style="color:blue; font-size:20px">Ainda não avaliado. </div></center>
            }
        }
        else
        {
        <div class="row">
            <div class="col-3">
                @using (Html.BeginForm("InserirComentario", "Postagem", FormMethod.Post))
                {
                    @Html.HiddenFor(p => p.PostagemId)
                    <label>Insira uma solução: </label>
                    @Html.TextAreaFor(m => m.Comentario, 10, 500, new { htmlAttributes = new { @class = "form-group" } })
                    <input type="submit" value="Comentar" class="btn btn-outline-primary" />
                }

            </div>
        </div>

        }
    </div>
</div>
<br />

